kdecore/kconfig_compiler/kcfg.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT kcfg (include,kcfgfile,group*)>

<!ELEMENT include (#PCDATA)>

<!ELEMENT kcfgfile (parameter*)>
  <!ATTLIST kcfgfile name CDATA #IMPLIED>
  
<!ELEMENT parameter EMPTY>
  <!ATTLIST parameter name CDATA #REQUIRED>

<!ELEMENT group (entry*)>
  <!ATTLIST group name CDATA #REQUIRED>

<!ELEMENT entry (key?,name?,desc?,label?,code?,values?,default?)>
  <!ATTLIST entry 
                  name CDATA #REQUIRED
		  type CDATA #REQUIRED
		  key  CDATA #IMPLIED
		  hidden  (true|false) #IMPLIED>

<!ELEMENT key (#PCDATA)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT desc (#PCDATA)>
<!ELEMENT label (#PCDATA)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT values (value+)>
<!ELEMENT value (#PCDATA)>
<!ELEMENT default (#PCDATA)>
  <!ATTLIST default code CDATA #IMPLIED>
